body{
    background-color: black;
    color: red;
}

ul{
    display: flex;
     justify-content: space-around;
     list-style-type: none;
     align-items: center;
     padding: 70px;
 }

 a{
    color: aqua;
 }

 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid aqua;